<% provide(:title, "Просмотр категорий") %>
<h1><%= @category.name %></h1>

<div><%= image_tag  @category.image.url(:large), {:class => 'img-fluid img-thumbnail'}%></div>
<ul class="list-inline">
  <li class="list-group-item"><%= link_to "Редактировать категорию товара", edit_category_path(@category) %></li>
  <li class="list-group-item"><%= link_to "Удалить категорию товара", category_path(@category),
                  method: :delete,
                  data: { confirm: "Вы уверены?" } %></li>
  <li class="list-group-item"><%= link_to "Назад", root_path %></li>
</ul>